.eachuser-main {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.eachuser-img-btns img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  object-fit: cover;
}

.eachuser-edit-btn {
  margin-top: 1rem;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #fbd05c;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.eachuser-delete-btn {
  margin-top: 0.5rem;
  width: 150px;
  height: 50px;
  background-color: #b23b3b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.eachuser-info {
  flex: 1;
}

.eachuser-info h2 {
  color: #6a5acd;
}

.eachuser-info .eachuser-meta {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.eachuser-history-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eachuser-history-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

.eachuser-history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.3rem;
  margin-bottom: 0.2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}